@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Space+Grotesk:wght@300..700&display=swap');



header{
    background-image: url("../images/heroImageNathan.jpg");
   background-position: 30% 20%;
 height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    /* overflow-x: hidden; */
     display: flex; 
    align-items: center;
}

header h1{
    font-size: 30vw;
    font-weight: 500;
    padding: 10px;
    text-transform: uppercase;
    color: rgb(79, 0, 97);
    mix-blend-mode: hard-light;
    font-family: "Bebas Neue", sans-serif;
   
    
}

h2{
    font-family: "Space Grotesk", sans-serif;
}


#intro{
    background-image: url(../images/blackgrain.png);
    color: white;
   overflow: hidden;
  
}




#intro img{
    box-shadow: -20px 20px rgb(255, 255, 255) ;
}
p{
    font-family: "Space Grotesk", sans-serif;
    font-size: 25px;
}
nav{
    background-color: black;
    
    
}
