header{
    background-image: url("../images/heroImageNathan.jpg");
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
}
#intro{
    background-color: antiquewhite;
    height: 100vh;
    width: 100vw;
  
}