

header{
    background-image: url("../images/heroImageNathan.jpg");
   background-position: 30% 20%;
 height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
}
#intro{
    background-color: rgb(0, 0, 0);
    color: white;
   
  
}

#moved{
    background-color: rgb(119, 57, 138);
    display: flex;
    overflow-x: hidden;
}


.marque{
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 2vw;
    padding: 0 1.5vw;
}

#intro img{
    border-radius: 30px;
}
p{
    font-size: 25px;
}